h1{
  font-size: 80px;
  font-family: 'Dancing Script', cursive;
  color: #ECEFF1;
  text-align:center;

}
#nav{
  width: 100%;
}
table{
    margin-top: 190px;
    font-family:'Dancing Script', cursive;
    font-size: 40px;
    color:#eceff1;
}
a:link a:visited {
    color: blue;
}
a:hover{
  color: white;
}
