ul{
	position: fixed;
	margin: -10px;
}
li {
	display: inline;
	font-family: Futura, Tahoma, sans-serif;
	color: black;
	padding: 5px;
}

h1{
  text-align: center;
	font-size: 60px;
	font-family:'Dancing Script', cursive;
	color: #ffffff;

#header {
	z-index: 1;
	position: fixed;
	width: 99.5%;
	margin-top: -20px;
	height: 700px;
	background-image: url("photos/roses.jpg");
  background-size: 100% 300px;
	margin-bottom: 10px;
}

#navbar {
	position: fixed;
	top:10px;
	right: 20%;
	margin-left:-235px;
}

#compsci {
	font-size: 20px;
	text-align: center;
	color: #ffffff;
}

a:link{
	color:#ffffff;
}
a:hover{
	color:#F44336;
}
.right {
	float: right;
	position: relative;
	margin-top: 50px;
	width: 100%;
	height: 650px;
	background-color: #ffffff;
	margin-bottom: 10px;
}
